server:
  port: 9090

spring:
  application:
    name: stats-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://stats-db:5432/stats_db?currentSchema=public
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      enabled: true
      db:
        enabled: true

logging:
  level:
    ru.practicum.stats: DEBUG
    org.springframework: INFO