server:
  port: 8080

spring:
  application:
    name: ewm-main-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

stats:
  service:
    url: http://localhost:9090